In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import calendar
import datetime
datos = pd.read_csv('events.csv', low_memory=False)
#datos.info()
#DANDOLE FORMATO A LOS DATOS.

datos['timestamp']=pd.to_datetime(datos['timestamp'])#, format='%Y/%m/%d %H:%M:%S')
datos['year'] = datos['timestamp'].dt.year
datos['month'] = datos['timestamp'].dt.month
datos['day_of_week'] = datos['timestamp'].dt.day
datos['day_of_week_name'] = datos['timestamp'].dt.weekday_name
#.dayofweek --- Devuelve 0..6 de Lunes a Domingos
datos['day_of_week_num'] = datos['timestamp'].dt.dayofweek
datos['hour'] = datos['timestamp'].dt.hour

datos['sku']=pd.to_numeric(datos['sku'],errors='coerce')

datos.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,device_type,screen_resolution,operating_system_version,browser_version,year,month,day_of_week,day_of_week_name,day_of_week_num,hour
0,2018-05-31 23:38:05,ad campaign hit,0004b0a2,/comprar/iphone/iphone-5s,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2018,5,31,Thursday,3,23
1,2018-05-31 23:38:05,visited site,0004b0a2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Smartphone,360x640,Android 6,Chrome Mobile 39,2018,5,31,Thursday,3,23
2,2018-05-31 23:38:09,viewed product,0004b0a2,NaN,2694.0,iPhone 5s,Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,2018,5,31,Thursday,3,23
3,2018-05-31 23:38:40,checkout,0004b0a2,NaN,2694.0,iPhone 5s,Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,2018,5,31,Thursday,3,23
4,2018-05-29 13:29:25,viewed product,0006a21a,NaN,15338.0,Samsung Galaxy S8,Bom,64GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,2018,5,29,Tuesday,1,13

In [2]:
# SE FILTRA PERSONAS CIUDADES Y PAISES


#datos.iloc[:,20:25]
personayciudades=datos[['person','city','country']]
print personayciudades.head()
#print personayciudades.dropna().head(20)
#personayciudadesfinal=personayciudades[personayciudades.dropna()['country']<>"Unknown"]#.replace("Unknown","null")
personayciudadesnuevo=personayciudades.dropna()
print personayciudadesnuevo.info()
personayciudadesnuevo.head()
personayciudadesnuevo= personayciudadesnuevo[personayciudadesnuevo['country']<>"Unknown"]
personayciudadesnuevo= personayciudadesnuevo[personayciudadesnuevo['city']<>"Unknown"]
personayciudadesnuevo.head()
print personayciudadesnuevo.info()
print personayciudadesnuevo.city.value_counts().head()
#SE DECIDIO QUE LOS DESCONOCIDOS PERO QUE COMPRARON EN 
#personayciudadesnuevo['country']=personayciudadesnuevo['country'].apply(lambda x:'Rio de Janeiro' \
#                                                                       if x[2]=='Brazil' else x) 

#personayciudadesnuevo=personayciudadesnuevo.apply(lambda x:x[1]="Rio de Janeiro" if x[2]=='Brazil' else x) 
print personayciudadesnuevo.city.value_counts().head()

print personayciudadesnuevo.head(100)
print personayciudadesnuevo.values[45]
personayciudadesnuevo.values[5][2]
#personayciudadesnuevo=personayciudadesnuevo.replace("Unknown","Rio de Janeiro")
#personayciudadesnuevo.country.value_counts()
#personayciudades=personayciudades[personayciudades[]]
#personayciudadesnuevo= personayciudades.dropna()
#print (personayciudades.country2.size - personayciudades.country2.count())
#print (personayciudadesnuevo.country.size - personayciudadesnuevo.country.count())
#print personayciudadesnuevo.info()
#print "paso por aca"
#print (personayciudades.country2.size - personayciudades.country2.count())
#print personayciudades.info()
#personayciudades['country2']=personayciudades['country2'].dropna()
#personayciudades=personayciudades.country2.dropna()
#print personayciudadesnuevo.person.size-personayciudadesnuevo.person.count()
#print personayciudadesnuevo.city.size-personayciudadesnuevo.city.count()
#print personayciudades.country[116]
#print personayciudadesnuevo.country.size-personayciudadesnuevo.country.count()
#personayciudadesnuevo.info()

#print personayciudades['country'].dropna()
#print (personayciudades['country'].replace("Unknown",np.nan))
#print personayciudades

#personayciudadesfinal
#person     1011288 non-null object
#city       71559 non-null object
#country    85065 non-null object.

     person        city country
0  0004b0a2         NaN     NaN
1  0004b0a2  Camaragibe  Brazil
2  0004b0a2         NaN     NaN
3  0004b0a2         NaN     NaN
4  0006a21a         NaN     NaN
<class 'pandas.core.frame.DataFrame'>
Int64Index: 87378 entries, 1 to 1011284
Data columns (total 3 columns):
person     87378 non-null object
city       87378 non-null object
country    87378 non-null object
dtypes: object(3)
memory usage: 2.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 71559 entries, 1 to 1011277
Data columns (total 3 columns):
person     71559 non-null object
city       71559 non-null object
country    71559 non-null object
dtypes: object(3)
memory usage: 2.2+ MB
None
São Paulo         11711
Rio de Janeiro     3538
Belo Horizonte     2568
Salvador           2314
Brasília           1530
Name: city, dtype: int64
São Paulo         11711
Rio de Janeiro     3538
Belo Horizonte     2568
Salvador           2314
Brasília           1530
Name: city, dtype: int64
        person                    city    country
1     0004b0a2              Camaragibe     Brazil
5     0006a21a          Rio de Janeiro     Brazil
9     000a54b2          Rio de Janeiro     Brazil
16    000a54b2          Rio de Janeiro     Brazil
45    00184bf9          Ribeirão Preto     Brazil
87    00184bf9          Ribeirão Preto     Brazil
235   0024ad28            Porto Alegre     Brazil
244   0024ad28       Santa Cruz do Sul     Brazil
252   0024ad28            Porto Alegre     Brazil
272   0026fd72          Rio de Janeiro     Brazil
274   0026fd72          Rio de Janeiro     Brazil
302   0027c344             Santo André     Brazil
327   00283a9e             Dias davila     Brazil
331   00283a9e             Dias davila     Brazil
339   002932b1                   Arcos     Brazil
352   002932b1               Coqueiral     Brazil
354   002932b1                   Arcos     Brazil
362   002cecfa                   Arujá     Brazil
369   00300ace             João Pessoa     Brazil
374   00300ace             João Pessoa     Brazil
389   00344c0a                 Itaguai     Brazil
394   003857f6             Sao Gabriel     Brazil
398   003857f6             Sao Gabriel     Brazil
403   003857f6               Cariacica     Brazil
408   003857f6            Nova Venecia     Brazil
420   003857f6             Sao Gabriel     Brazil
440   003857f6  Barra de Sao Francisco     Brazil
466   003857f6             Sao Gabriel     Brazil
481   003f561a   Aldeia Amanajas Tauai     Brazil
487   003f561a   Aldeia Amanajas Tauai     Brazil
...        ...                     ...        ...
1365  00783cae               São Paulo     Brazil
1367  00783cae         Itaquaquecetuba     Brazil
1372  0078bffd                   Marco     Brazil
1375  007c861f            Campo Grande     Brazil
1393  007f8055     Monte Azul Paulista     Brazil
1462  00806702                   Tatuí     Brazil
1530  008179c7     Bela Vista de Goias     Brazil
1547  008179c7     Bela Vista de Goias     Brazil
1561  0083788d               São Paulo     Brazil
1574  0084710f                    Sape     Brazil
1588  0084710f                    Sape     Brazil
1601  0084710f                    Sape     Brazil
1611  0084710f                    Sape     Brazil
1652  008bf303             Santo André     Brazil
1664  008bf303             Santo André     Brazil
1667  008bf303               São Paulo     Brazil
1676  008c964d                Goianira     Brazil
1681  008e65e3                 Carpina     Brazil
1684  0092761d            Buenos Aires  Argentina
1689  0094cee0                  Osasco     Brazil
1695  0094cee0                  Osasco     Brazil
1719  009650d0                  Santos     Brazil
1726  009696f0                Brasília     Brazil
1738  009696f0                Brasília     Brazil
1756  009696f0                Brasília     Brazil
1776  00a2f99d             Carapicuiba     Brazil
1779  00a61ab2                Curitiba     Brazil
1812  00a84cd3               São Paulo     Brazil
1845  00a92c9b                 Goiânia     Brazil
1912  00aad450               São Paulo     Brazil

[100 rows x 3 columns]
['005cb86a' 'S\xc3\xa3o Paulo' 'Brazil']

'Brazil'

In [3]:
# SE BUSCA FILTRAR PERSONAS CIUDADES Y PAISES, GENERANDO FORMATO PARA GEOCODE
personayciudades=datos[['person','city','country']]
#personayciudadessindup=personayciudades.drop_duplicates('person').dropna()
personayciudadesnuevo=personayciudades.dropna()
personayciudadesnuevo= personayciudadesnuevo[personayciudadesnuevo['country']<>"Unknown"]
personayciudadesnuevo= personayciudadesnuevo[personayciudadesnuevo['city']<>"Unknown"]
#a=personayciudadesnuevo[personayciudadesnuevo['country']=="Argentina"]
#a.person.unique().size
#dict(list(personayciudadesnuevo.groupby('person')))
eventosxpersona=personayciudadesnuevo.person.value_counts()
#print eventosxpersona.head(10)#.count()

#type (eventosxpersona.reset_index())#.set_index('index')
df=eventosxpersona.reset_index()
df.rename(columns={'index':'person','person':'cant'},inplace=True)
#df=df.set_index('person')
df
data_paises = personayciudadesnuevo.country.value_counts().reset_index()

#df['period'] = df[['Year', 'quarter']].apply(lambda x: ''.join(x), axis=1)
personayciudadesnuevo['Address']= personayciudadesnuevo[['city', 'country']].apply(lambda x: ', '.join(x), axis=1)
final_paises=personayciudadesnuevo.Address.value_counts()
print (final_paises.describe())
final_paises=final_paises.reset_index()
final_paises.rename(columns={'index':'pais','Address':'cant'},inplace=True)
final_paises=final_paises[final_paises['cant']>2]
#final_paises
#eventosxpersona
len(personayciudadesnuevo.country.unique())
list (personayciudadesnuevo.country.unique())
#df.join(personayciudadesnuevo)
#resultado=pd.concat([df.set_index('person'),personayciudadesnuevo.set_index('person')],axis=1,join='inner')#_axes=[eventosxpersona.index])
#resultado

#print eventosxpersona.sort_values(by='index').count()
#personayciudadessindup

count     1940.000000
mean        36.886082
std        300.298871
min          1.000000
25%          2.000000
50%          6.000000
75%         18.000000
max      11711.000000
Name: Address, dtype: float64

['Brazil',
 'United States',
 'Argentina',
 'Russia',
 'Canada',
 'Netherlands',
 'Mexico',
 'Mozambique',
 'Bangladesh',
 'Italy',
 'Portugal',
 'France',
 'Venezuela',
 'United Kingdom',
 'China',
 'French Guiana',
 'Japan',
 'India',
 'Dominican Republic',
 'Turkey',
 'Germany',
 'Sri Lanka',
 'Paraguay',
 'Romania',
 'Morocco',
 'Uruguay',
 'Switzerland',
 'Poland',
 'South Africa']

In [4]:
data_paises

                 index  country
0               Brazil    70935
1        United States      407
2            Argentina       86
3               Canada       31
4                Japan       11
5       United Kingdom       10
6          Netherlands        9
7               Poland        9
8           Mozambique        8
9             Portugal        7
10             Romania        7
11       French Guiana        6
12  Dominican Republic        6
13               Italy        4
14              France        3
15         Switzerland        3
16               India        2
17             Germany        2
18            Paraguay        2
19              Russia        2
20          Bangladesh        1
21             Uruguay        1
22           Sri Lanka        1
23        South Africa        1
24           Venezuela        1
25              Mexico        1
26              Turkey        1
27               China        1
28             Morocco        1

In [9]:
import pandas as pd

#data_paises=data_paises.reset_index()

data_paises.rename(columns={'index':'pais','country':'cant'},inplace=True)
d_paises = {'Brazil':[-22.906, -43.172],'United States':[39.789, -101.851],'Argentina':[-34.608, -58.370],'Russia':[55.755, 37.600],'Canada':[60.144, -111.846],'Netherlands':[52.368, 4.901],'Mexico':[24.095, -102.683],'Mozambique':[-17.338, 35.864],'Bangladesh':[24.180, 90.356],'Italy':[41.882, 12.609], 'Portugal':[39.043, -8.681], 'France':[48.878, 2.329], 'Venezuela':[10.454, -66.898],'United Kingdom':[51.511, -0.142], 'China':[39.912, 116.397],'French Guiana':[9.641, -13.571], 'Japan':[35.711, 139.730],'India':[19.098, 72.876],'Dominican Republic':[18.531, -69.932],'Turkey':[38.708, 35.493],'Germany':[48.230, 11.612],'Sri Lanka':[7.620, 80.760],'Paraguay':[-25.214, -57.394],'Romania':[44.474, 26.067],'Morocco':[31.576, -7.993],'Uruguay':[-32.787, -55.989],'Switzerland':[46.781, 7.982],'Poland':[52.800768, 18.426575],'South Africa':[-30.935, 24.374]}
def get_coord(pais):
    dic_paises = {'Brazil':[-22.906, -43.172],'United States':[39.789, -101.851],'Argentina':[-34.608, -58.370],'Russia':[55.755, 37.600],'Canada':[60.144, -111.846],'Netherlands':[52.368, 4.901],'Mexico':[24.095, -102.683],'Mozambique':[-17.338, 35.864],'Bangladesh':[24.180, 90.356],'Italy':[41.882, 12.609], 'Portugal':[39.043, -8.681], 'France':[48.878, 2.329], 'Venezuela':[10.454, -66.898],'United Kingdom':[51.511, -0.142], 'China':[39.912, 116.397],'French Guiana':[9.641, -13.571], 'Japan':[35.711, 139.730],'India':[19.098, 72.876],'Dominican Republic':[18.531, -69.932],'Turkey':[38.708, 35.493],'Germany':[48.230, 11.612],'Sri Lanka':[7.620, 80.760],'Paraguay':[-25.214, -57.394],'Romania':[44.474, 26.067],'Morocco':[31.576, -7.993],'Uruguay':[-32.787, -55.989],'Switzerland':[46.781, 7.982],'Poland':[52.800768, 18.426575],'South Africa':[-30.935, 24.374]}
    return dic_paises[pais]
#get_coord('United States')
data_paises['coord']=data_paises.pais.apply(lambda x: get_coord(x))

#def gen_col_latlong(data_pais):
#    resultado_latlong=[]
#    for x in data_pais:
#data_paises    
#df1=pd.DataFrame(d_paises)
#df1
#LAT
#LONG
#[39.789, -101.851]

                  pais   cant                   coord
0               Brazil  70935      [-22.906, -43.172]
1        United States    407      [39.789, -101.851]
2            Argentina     86       [-34.608, -58.37]
3               Canada     31      [60.144, -111.846]
4                Japan     11        [35.711, 139.73]
5       United Kingdom     10        [51.511, -0.142]
6          Netherlands      9         [52.368, 4.901]
7               Poland      9  [52.800768, 18.426575]
8           Mozambique      8       [-17.338, 35.864]
9             Portugal      7        [39.043, -8.681]
10             Romania      7        [44.474, 26.067]
11       French Guiana      6        [9.641, -13.571]
12  Dominican Republic      6       [18.531, -69.932]
13               Italy      4        [41.882, 12.609]
14              France      3         [48.878, 2.329]
15         Switzerland      3         [46.781, 7.982]
16               India      2        [19.098, 72.876]
17             Germany      2         [48.23, 11.612]
18            Paraguay      2      [-25.214, -57.394]
19              Russia      2          [55.755, 37.6]
20          Bangladesh      1         [24.18, 90.356]
21             Uruguay      1      [-32.787, -55.989]
22           Sri Lanka      1           [7.62, 80.76]
23        South Africa      1       [-30.935, 24.374]
24           Venezuela      1       [10.454, -66.898]
25              Mexico      1      [24.095, -102.683]
26              Turkey      1        [38.708, 35.493]
27               China      1       [39.912, 116.397]
28             Morocco      1        [31.576, -7.993]

In [15]:

#data_paises.coord[1][1]
# import the library
import folium
import pandas as pd

# Make a data frame with dots to show on the map
#data = pd.DataFrame({
#   'lat':[-58, 2, 145, 30.32, -4.03, -73.57, 36.82, -38.5],
#   'lon':[-34, 49, -38, 59.93, 5.33, 45.52, -1.29, -12.97],
#   'name':['Buenos Aires', 'Paris', 'melbourne', 'St Petersbourg', 'Abidjan', 'Montreal', 'Nairobi', 'Salvador'],
#   'value':[10,12,40,70,23,43,100,43]
#})
#data
#data_paises
# Make an empty map
m = folium.Map(location=[20,0], tiles="Mapbox Bright", zoom_start=2)

# I can add marker one by one on the map
for i in range(0,len(data_paises)):
   folium.Circle(
      location=[data_paises.coord[i][0], data_paises.coord[i][1]],
      popup=data_paises.pais[i],
      radius=data_paises.cant[i]*10000,
      color='crimson',
      fill=True,
      fill_color='crimson'
   ).add_to(m)

# Save it as html
m.save('mapa.html')

In [ ]:
from __future__ import division

import sys
import json
import requests

from herepy.here_api import HEREApi
from herepy.utils import Utils
from herepy.error import HEREError
from herepy.models import GeocoderResponse


class GeocoderApi(HEREApi):


    def __init__(self,
                 app_id=None,
                 app_code=None,
                 timeout=None):


        super(GeocoderApi, self).__init__(app_id, app_code, timeout)
        self._base_url = 'https://geocoder.cit.api.here.com/6.2/geocode.json'

    def __get(self, data):
        url = Utils.build_url(self._base_url, extra_params=data)
        response = requests.get(url, timeout=self._timeout)
        try:
            json_data = json.loads(response.content.decode('utf8'))
            if json_data.get('Response') != None:
                return GeocoderResponse.new_from_jsondict(json_data)
            else:
                return HEREError(json_data.get('Details', 'Error occured on function ' + sys._getframe(1).f_code.co_name))
        except ValueError as err:
            return HEREError('Error occured on function ' + sys._getframe(1).f_code.co_name + ' ' + str(err))


    def free_form(self, searchtext):
       

        data = {'searchtext': searchtext, 'app_id': self._app_id, 'app_code': self._app_code}
        return self.__get(data)



    def address_with_boundingbox(self, searchtext, top_left, bottom_right):
       

        data = {'searchtext': searchtext,
                'mapview': str.format('{0},{1};{2},{3}', top_left[0], top_left[1], bottom_right[0], bottom_right[1]),
                'app_id': self._app_id,
                'app_code': self._app_code}
        return self.__get(data)



    def address_with_details(self,
                             house_number,
                             street,
                             city,
                             country):
       

        data = {'housenumber': house_number,
                'street': street,
                'city': city,
                'country': country,
                'app_id': self._app_id,
                'app_code': self._app_code}
        return self.__get(data)



    def street_intersection(self,
                            street,
                            city):
       

        data = {'street': street,
                'city': city,
                'app_id': self._app_id,
                'app_code': self._app_code}
        return self.__get(data)

#g=GeocoderApi.free_form('Espoo,Finland')

In [ ]:
#import geocoder
#g= geocoder.here('Espoo,Finland')
#g.json

In [ ]:
personayciudadesnuevo.head()

In [ ]:
import pandas as pd
import os
from geopy import geocoders
from geopy.geocoders import GoogleV3

API_KEY = os.getenv("API1234")
g = GoogleV3(api_key=API_KEY)


loc_coordinates = []
loc_address = []
for address in personayciudadesnuevo.Address:
    try:
        print (personayciudadesnuevo.Address)
        inputAddress = address
        location = g.geocode(inputAddress, timeout=15)
        loc_coordinates.append((location.latitude, location.longitude))
        loc_address.append(inputAddress)
    except Exception as e:
        print('Error, skipping address...', e)


personayciudadesnuevo_geocodes = pd.DataFrame({'coordinate':loc_coordinates,'address':loc_address})
personayciudadesnuevo_geocodes

In [ ]:
#from geopy.geocoders import GoogleV3

#keys = [key1,key1,key3]

#location = Geocoder(random.choice(keys)).geocode(address) 

#address = 'Rio de Janeiro, Brazil' # Put in your address
#geo_keys = [key1,key1,key3] # Put in your API keys as strings
#geolocator = GoogleV3( api_key=random.choice(geo_keys) )
#geolocator.geocode( address )
#print(geolocator.latitude)
#print(geolocator.longitude)

In [ ]:
import requests

from shapely.geometry import mapping, shape
from shapely.prepared import prep
from shapely.geometry import Point


data = requests.get("https://raw.githubusercontent.com/datasets/geo-countries/master/data/countries.geojson").json()

countries = {}
for feature in data["features"]:
   geom = feature["geometry"]
   country = feature["properties"]["ADMIN"]
   countries[country] = prep(shape(geom))

print(len(countries))

def get_country(lon, lat):
   point = Point(lon, lat)
   for country, geom in countries.iteritems():
       if geom.contains(point):
           return country

   return "unknown"

print(get_country(10.0, 47.0))
dict(countries)['Austria']

# Austria

In [ ]:
datos.info()

In [ ]:
datos.search_term.dropna().head(10)

In [ ]:
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


counter = Counter(datos['search_term'])
busquedas = counter.keys()
cant_busquedas = counter.values()

# Plot histogram using matplotlib bar().
indexes = np.arange(len(busquedas))
width = 0.7
plt.bar(indexes, cant_busquedas, width)
plt.xticks(indexes + width * 0.5, busquedas)
plt.show()

In [ ]:
import pandas as pd
import numpy as np
 
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
from collections import Counter
 
from collections import OrderedDict
import re
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
 
from HTMLParser import HTMLParser
from bs4 import BeautifulSoup

In [ ]:
#raw_str = datos.search_term.str.cat(sep='')
#raw_str = datos.search_term.str.cat(sep='&&&&')

In [ ]:
from wordcloud import WordCloud
import PIL
import itertools
import matplotlib.pyplot as plt

raw_str = datos.search_term.str.cat(sep='|||')
wordcloud = WordCloud( max_words=5000,margin=0).generate(raw_str)
plt.figure()
plt.figure(figsize=(10,6))
plt.title("TERMINOS MAS BUSCADOS")
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")

plt.show()

In [ ]:
#A PARTIR DE ACA COMIENZAN PRUEBAS Y GRAFICOS PARA EL TP

In [ ]:
datos.info()

In [ ]:
#pruebas=datos[['day_of_week_num','day_of_week_name','event']]
#pruebas.head(2)

In [ ]:
#pruebas.head(5)
#pruebas2=pruebas.apply(pd.value_counts)

In [ ]:
#df1 = pruebas.melt()
#df1.head(1)

In [ ]:
#type (df1)
#aaa=pd.crosstab(index=df1['variable'], columns=df1['value'])
#pd.crosstab(**pruebas.melt(var_name='columns', value_name='index'))
#aaa.loc[:,'Monday']

In [ ]:
#events_sku=events_sku[events_sku['event']=="conversion"]['sku'].value_counts().head()
#events_sku
datos['event'].unique()
datos['event'].size-datos['event'].count()
datos['event'].value_counts()
compras_meses=datos[datos['event']=='checkout']['month'].value_counts().reset_index()
#compras_meses=compras_meses.reset_index().to_frame()
type(compras_meses)
#compras_meses.sort_values(by=['index'])
compras_meses=compras_meses.rename(index=str, columns={"index": "mes", "month":"ventasxmes"})
compras_meses=compras_meses.sort_values(by=['mes'])
compras_meses

In [ ]:

compras_horas=datos[datos['event']=='checkout']['hour'].value_counts().reset_index()
#compras_meses=compras_meses.reset_index().to_frame()
type(compras_horas)
#compras_meses.sort_values(by=['index'])
compras_horas=compras_horas.rename(index=str, columns={"index": "hora", "hour":"checkout"})
compras_horas=compras_horas.sort_values(by=['hora'])
#total=compras_horas.
compras_horas['checkout']=compras_horas.checkout/6
print ((compras_horas.checkout).head())
print (compras_horas.head())
import matplotlib.style as style
style.use('classic')
plt.figure(figsize=(10,6))
plt.xlabel("Horas")
plt.ylabel("Checkout promedio por hora")
plt.title("CHECKOUTS PROMEDIOS QUE SE REALIZAN CADA HORA")
style.use('classic')
grafico_barras=sns.barplot(x=compras_horas.hora.values,y=compras_horas.checkout.values,palette='vlag')
#aa=datos[datos['event']=='checkout']#[['hour'],['month']]
#aa=aa[aa['month']==5]
#aa.count()

In [ ]:
compras_horas_2=datos[datos['event']=='checkout']

check_mes=compras_horas_2[['event','hour','day_of_week','month','year']]
print check_mes.year.unique()
#compras_meses=compras_meses.reset_index().to_frame()
#type(compras_horas)
#compras_meses.sort_values(by=['index'])
#compras_horas=compras_horas.rename(index=str, columns={"index": "hora", "hour":"checkout"})
#compras_horas=compras_horas.sort_values(by=['hora'])
#compras_horas
#import matplotlib.style as style
#style.use('classic')
#plt.figure(figsize=(10,6))
#plt.xlabel("Horas")
#plt.ylabel("Checkout por hora")
#plt.title("CHECKOUT REALIZADOS CADA HORA")
#style.use('classic')
#grafico_barras=sns.barplot(x=compras_horas.hora.values,y=compras_horas.checkout.values,palette='vlag')
#compras_horas.checkout.sum()
#total_mes=check_mes.hour.value_counts()
#total_mes
#check_mes_total
list(check_mes.groupby('day_of_week'))
check_mes.groupby('day_of_week').count()
#dict(list(check_mes.groupby([check_mes['day_of_week'],check_mes['hour']])))
list(check_mes.groupby([check_mes['day_of_week'],check_mes['hour']]))
#list(check_mes['month'].groupby(check_mes['day_of_week']))#.describe()
#check_mes.groupby('day_of_week')
#compras_horas_2
#compras_horas_2.reset_index()

In [ ]:
import matplotlib.style as style
style.use('classic')
plt.figure(figsize=(10,6))
plt.xlabel("Meses")
plt.ylabel("Ventas por mes")
plt.title("VENTAS REALIZADAS CADA DIA")
style.use('classic')
grafico_barras=sns.barplot(x=compras_meses.mes.values,y=compras_meses.ventasxmes.values,palette='vlag')
#df_compras_dias.dia
compras_meses
compras_meses

In [ ]:
compras_dias=datos[datos['event']=='checkout']['day_of_week'].value_counts()
df_compras_dias= compras_dias.to_frame()
print df_compras_dias
type(df_compras_dias)
df_compras_dias.reset_index()
df_compras_dias=df_compras_dias.reset_index().sort_values(by=['index'])
compras_dias

In [ ]:
dia_mayor_venta=datos[datos['day_of_week']==15]
dia_mayor_venta=dia_mayor_venta[dia_mayor_venta['event']=='checkout']
dia_mayor_venta=dia_mayor_venta['month'].value_counts()
dia_mayor_venta

In [ ]:
dias_semana=datos[['day_of_week_name','day_of_week_num','event']]
dias_semana=dias_semana[dias_semana['event']=='checkout']#.set_index('day_of_week_name')#.day_of_week_name.value_counts()
dias_semana=dias_semana['day_of_week_name'].value_counts()
#dias_semana=dias_semana.groupby('day_of_week_name')[['day_of_week_num','event']].count()
type (dias_semana)#['day_of_week_num']
dias_semana=dias_semana.to_frame()
type (dias_semana)
dias_semana=dias_semana.reset_index()
print dias_semana
dias_semana['orden']=[1,2,3,4,0,5,6]
#dias_semana= dias_semana.orden.sort_values()
dias_semana=dias_semana.sort_values(by='orden')
dias_semana.day_of_week_name=dias_semana.day_of_week_name/6
print dias_semana
import matplotlib.style as style
style.use('classic')
plt.figure(figsize=(10,6))
plt.xlabel("Dias de la semana")
plt.ylabel("Checkout promedio por dia")
plt.title("CHECKOUT PROMEDIO REALIZADOS CADA DIA DE LA SEMANA")
style.use('classic')
grafico_barras=sns.barplot(x=dias_semana['index'].values,y=dias_semana['day_of_week_name'].values,palette='Paired')

In [ ]:
type(df_compras_dias)
df_compras_dias=df_compras_dias.rename(index=str, columns={"index": "dia", "day_of_week":"ventasdia"})
df_compras_dias.dia.values

In [ ]:
import matplotlib.style as style
style.use('classic')
plt.figure(figsize=(10,6))
plt.xlabel("Dias del mes")
plt.ylabel("Checkout por dia")
plt.title("CHECKOUT REALIZADOS CADA DIA DEL MES")
style.use('classic')
grafico_barras=sns.barplot(x=df_compras_dias.dia.values,y=df_compras_dias['ventasdia'].values,palette='vlag')
#df_compras_dias.dia
#df_compras_dias['ventasdia']

In [ ]:
datos.head()

In [ ]:
heap= datos.pivot_table(index='country',columns='event',values='person',aggfunc='count')
data_country=datos[datos['country']<>'Unknown']
data_country['country'].dropna().value_counts()

In [ ]:
# Libraries
import pandas as pd
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

#OBTENGO LOS PAISES
heap= datos.pivot_table(index='country',columns='event',values='person',aggfunc='count')
data_country=datos[datos['country']<>'Unknown']
data_country['country'].dropna().value_counts()

#OBTENGO LAS LATITUDES YT LONGITUDES A PARTIR DE LOS NOMBRES Y GENERO EL DF

#FALTA VER COMO RESOLVER


#SUPONIENDO QUE YA TENGA EL DF GENERADO: df_personas_pais 
lat = df_personas_pais['lat'].values
lon = df_personas_pais['long'].values
eventos = df_personas_pais['eventos'].values


# Set the dimension of the figure
my_dpi=96
plt.figure(figsize=(2600/my_dpi, 1800/my_dpi), dpi=my_dpi)
 
# read the data (on the web)
#****data = pd.read_csv('http://python-graph-gallery.com/wp-content/uploads/TweetSurfData.csv', sep=";")
 
# Make the background map
m=Basemap(llcrnrlon=-180, llcrnrlat=-65,urcrnrlon=180,urcrnrlat=80)
m.drawmapboundary(fill_color='#A6CAE0', linewidth=0)
m.fillcontinents(color='grey', alpha=0.3)
m.drawcoastlines(linewidth=0.1, color="white")
 
# prepare a color for each point depending on the continent.
#VER COMO RESOLVER
data['labels_enc'] = pd.factorize(data['homecontinent'])[0]
 
# Add a point per position
m.scatter(lat, lon, s=eventos/6, alpha=0.4, c=data['labels_enc'], cmap="Set1")
 
# copyright and source data info
#plt.text( -170, -58,'Where people talk about #Surf\n\nData collected on twitter by @R_Graph_Gallery during 300 days\nPlot realized with Python and the Basemap library', ha='left', va='bottom', size=9, color='#555555' )
 
# Save as png
#plt.savefig('#315_Tweet_Surf_Bubble_map1.png', bbox_inches='tight')

In [ ]:
#// ====== Geocoding ======
  function getAddress(search, next) {
    geo.geocode({address:search}, function (results,status)
      { 
 #       // If that was successful
        if (status == google.maps.GeocoderStatus.OK) {
#         // Lets assume that the first marker is the one we want
          var p = results[0].geometry.location;
          var lat=p.lat();
          var lng=p.lng();
#          // Output the data
            var msg = 'address="' + search + '" lat=' +lat+ ' lng=' +lng+ '(delay='+delay+'ms)<br>';
            document.getElementById("messages").innerHTML += msg;
#        // Create a marker
          createMarker(search,lat,lng);
        }
#        // ====== Decode the error status ======
        else {
##       // === if we were sending the requests to fast, try this one again and increase the delay
          if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
            nextAddress--;
            delay++;
          } else {
            var reason="Code "+status;
            var msg = 'address="' + search + '" error=' +reason+ '(delay='+delay+'ms)<br>';
            document.getElementById("messages").innerHTML += msg;
          }   
        }
        next();
      }
    );
  }

In [ ]:
from pygeocoder import Geocoder
import pandas as pd

cities = {
'City': ['Coral Gables', 'Hawarden', 'Chapeco', 'Merida', 'Assisi'],
'Nation': ['United States', 'United Kingdom', 'Brazil', 'Spain', 'Italy']}

df = pd.DataFrame(cities)
info = pd.DataFrame([])

for index, row in df.iterrows():

   city = str(row['City'])
   nation = str(row['Nation'])
   location = str(row['City'] + ', ' + row['Nation'])

   result = Geocoder.geocode(location)
   coords = str(result[0].coordinates)

   chars_to_remove = ['(' , ')']
   coords = coords.translate(None, ''.join(chars_to_remove))

   lat = float(coords.split(',')[0])
   long = float(coords.split(',')[1])

   line = pd.Series([city, nation, lat, long])

   info = info.append(line, ignore_index = True)

In [ ]:
from pygeocoder import Geocoder
import pandas as pd

Geocoder.geocode(country='US')

In [ ]:
#print patron_user.info()
patron_user=datos[(datos['event']=='conversion') | (datos['event']=='checkout')]

#compras_meses=compras_meses.reset_index().to_frame()
#type(compras_horas)
#compras_meses.sort_values(by=['index'])#
#compras_horas=compras_horas.rename(index=str, columns={"index": "hora", "hour":"checkout"})
#compras_horas=compras_horas.sort_values(by=['hora'])
#compras_horas
#import matplotlib.style as style
#style.use('classic')
#plt.figure(figsize=(10,6))
#plt.xlabel("Horas")
#plt.ylabel("Checkout por hora")
#plt.title("CHECKOUT REALIZADOS CADA HORA")
#style.use('classic')
#grafico_barras=sns.barplot(x=compras_horas.hora.values,y=compras_horas.checkout.values,palette='vlag')
#compras_horas

#print datos['event'].value_counts()
patron_user=patron_user[['timestamp','event','person','device_type','sku','model','condition','storage','color','year','month','day_of_week']]
print patron_user.info()
print patron_user.head(2)
patron_user['event'].value_counts()
patron_user['event'].unique()
#patron_user['model']

In [ ]:
#g = sns.catplot(x=patron_user['event'].unique(), y="model", kind="violin", inner=None, data=patron_user)
#sns.swarmplot(x=patron_user['event'].unique(), y="model", color="k", size=3, data=patron_user, ax=g.ax);

#patron_user.groupby('event')['storage'].count()#.plot(kind='bar')
#patron=patron_user.groupby('event')#.size()>45).count()
#patron
#patron_user#.plot(kind='bar')
#patron_user['model'].value_counts().describe()
#patron_user.plot(kind='scatter',x=patron_user.va`,y='num_pets',color='red')
#plt.show()

In [ ]:
#grouped = patron_user.loc[:,['country','event']].groupby('country')#.agg(['mean','count'])
#top_countries = grouped[grouped[('event','count')]>20][('event','mean')]\
#        .sort_values(ascending=True)
#top_countries

# Box Plots for the different variables. In class we did this for teaching, research, income, citations, ...
# just modify the column selection instead of teaching we can use any of the others
#timesTopCountries = patron_user[patron_user.country.isin(list(top_countries.index))]
#checkoutByCountry=patron_user.set_index(patron_user['country'])
#checkoutByCountry = patron_user[['country','event','month']]\
#        .pivot_table(index='month',columns='country')
#checkoutByCountry.columns = checkoutByCountry.columns.droplevel()
#checkoutByCountry.plot.box(figsize=(16,6),rot=80);

In [ ]:
data1=datos['device_type'].dropna()

In [ ]:
#g = sns.catplot(x="day", y="total_bill", kind="violin", inner=None, data=tips)
#sns.swarmplot(x="day", y="total_bill", color="k", size=3, data=tips, ax=g.ax);